@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(18, 15, 49);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url(https://simplywallpaper.net/pictures/2011/03/28/Rio-Movie-Wallpaper-6.jpg);
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

